body {
  font-family: 18px Arial, sans-serif;
}

h1 {
  text-align: center;
}

#flashcard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.flashcard {
  width: 240px;
  height: 180px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.front, .back {
  padding: 25px;
}

#controls {
  text-align: center;
  margin-top: 20px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
